<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeThiThu2023</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeThiThu2023.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div class="wrap">
        @Html.Partial("TaQuangDung_Header")
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>
    
   
    @Html.Partial("TaQuangDung_Footer")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $('li').click(function () {
            var maLoai = $(this).attr("id");
            $.ajax({
                url: "Home/LayTheoLoai",
                data: { maLoai: maLoai }, 
                success: function (data) {
                    $("#content").html(data); 
                },
                error: function () {
                    alert("Có lỗi xảy ra khi lấy dữ liệu.");
                }
            });
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

        